body{

  background: url(../images/q.jpeg)no-repeat;
  background-size: cover;
  color:black;
  font-family: 'Schoolbell', cursive;
  height:
}
.name{
  font-size: 70px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
#cd{
  font-family: 'Schoolbell', cursive;
}
